html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Nimbus Sans L, sans;
  background: #7FDBFF;
  color:  #001f3f;
}

h1 {
  font-family: Palatino;
  font-size: 2.5em;
  text-align: center;
  margin: 20px auto;
}

label {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: auto;
}
select {
  width: 300px;
  max-width: 100%;
  background: #7FDBFF;
  color:  #001f3f;
  border: 2px solid  #001f3f;
}

.results {
  width: 100%;
  max-width: 1500px;
  overflow: hidden;
  margin: 50px auto;
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  justify-content: center;
}

.results > * {
  flex: 1;
  width: 50%;
  min-width: 320px;
  max-width: 800px;
  margin: 10px;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

thead {
  background: #001f3f;
  color:  #7FDBFF;
}

tr {
  border: 1px solid #444;
}

th:not(:first-child) {
  width: 20%;
}


td:not(:first-child) {
  text-align: right;
}


pre {
  background:  #85144b;
  color: #F012BE;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 100%;
  opacity: 1;
  transition: .2s;
  transition-delay: .2s;
}

pre[hidden] {
  opacity: 0;
  transition: .2s;
  transition-delay: .2s;
  display: block;
}
